.upper__panel {
  color: rgb(53, 240, 53);
}

.buttons {
  margin: 5px;
  justify-content: center;
  display: flex;
  flex-direction: horizontal;
}

.balance__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.balance {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.change {
  font-size: 1.2em;
  color: rgb(53, 240, 53);
}
